<!DOCTYPE html>
<html>
<head>
  <title>StartupAbcdefg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://js.pusher.com/1.11/pusher.min.js" 
          type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
    var channel = pusher.subscribe('test_channel');
    channel.bind('greet', function(data) {
      alert(data.greeting);
    });
  </script>

</head>
<body>

<%= @bunny_queue.pop[:payload]  %> 

<%= yield %>

</body>
</html>
