<!DOCTYPE html> <html> <head>
  <title>Delayed WebRequest Demo</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://js.pusher.com/1.11/pusher.min.js"
          type="text/javascript"></script>
  <script type="text/javascript">

    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;
    var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
    var channel = pusher.subscribe('test_channel');
    channel.bind('greet', function(data) {
      alert(data.greeting);
      requestUpdate();
//    alterTargets();
    });
  </script>

<script type="text/javascript">
function targetIds() {
  return ["one", "two", "three", "four", "five"];
}
function Target(id) {
  this.id = id;
}

function selectTargets() {
  var targetIdsVar = targetIds();
  var len = targetIdsVar.length;
  var result = new Array(len);
  var each;
  for (var i = 0; i < len; i++) {
    each = targetIdsVar[i];
    result[i] = new Target(each);
  }
  result.push(new Target("barf")); //Temporary test.
  return result;
}

var newContent = "<ol><li>hello</li><li>there</li><li>in</li><li>Pusher land</li></ol>"

function alterTargets() {
  $('#one').css("color","yellow");
  var elem;
  var targets = selectTargets();
  var len = targets.length;
  for (var i = 0; i < len; i++) {
    elem = document.getElementById(targets[i].id);
    if (null === elem) continue;
    elem.innerHTML = newContent;
  }
}

function requestUpdate() {
  jQuery.ajax ( '/ajax_load_events.json', 

}

</script>

</head> <body>

<p>From Rails.cache.read:<br /> &nbsp;
<%= @cached_foo %></p>


<div id="error"></div>

<div id="one">one-content</div>
<div id="two">two-content</div>
<div id="three">three-content</div>
<div id="four">four-content</div>
<div id="five">five-content</div>

<% u = url_for '/ajax_load_events.json' %>
<%= u %>

<%#= link_to 'Ajax update', {:controller => 'welcome', :action => 'ajax_load_events', :remote => true, :update => 'one'} %>
<%#= link_to 'Ajax update', u, { :update => { :success => 'one', :failure => 'error' }, :remote => true } %>
<%#= link_to 'Ajax update', u, :update => 'one', :remote => true  %>
<%#= link_to 'Ajax update', u, :update => 'one', :remote => true  %>
<%#= button_to 'Ajax update', u, :update => 'one', :remote => true  %>
<%= button_to 'Ajax update', u, :update => '#one', :remote => true, :method => 'get'  %>

<a></a>

<%= yield %>

</body> </html>



